.Bg-logo{
    width: 90vw;
    height: 90vh;
}
.Container-Accueil{
    display: flex;
    flex-direction: column;
}
.Container-Logo{
    display: flex;
    width: 50vw;
}
.Img-Accueil{
    width:25vw;
    margin-top:15%;
}
.Title-Accueil{
    font-size: 5rem;
    color: darkblue;
    margin-top: 35%;
}
.Description-Accueil{
    display: flex;
    justify-content: space-between;
}
.Description2{
    margin-left: 20px;
    font-size:1.5rem;
    font-style: italic;
    word-spacing: 5px;
}
.Started{
    background: darkblue;
    border: none;
    width: 15vw;
    box-shadow: gray 2px 2px 2px;
}
.Start-Link{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body
{
    position: relative;
    min-height: 100vh;
    width:100%;
    overflow: hidden;
}

.sidebar
{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease-in-out;
}

.sidebar.active
{
    width: 300px;
}

.sidebar .logo_content .logo
{
    color: #fff;
    display: flex;
    height:50px;
    width:100%;
    align-items: center;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .logo_content .logo 
{
    opacity: 1;
    pointer-events: auto;
}

.sidebar .logo_content .logo i 
{
    font-size: 28px;
    margin-right: 5px;
}

.sidebar .logo_content .logo .logo_name 
{
    font-size:22px;
    font-weight: 400;
}

.sidebar #btn
{
    position: absolute;
    left: 50%;
    top: 6px;
    color: #fff;
    font-size: 20px;
    height:50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn
{
    left: 90%;
}

.sidebar ul 
{
    margin-top: 20px;
}

.sidebar ul li 
{
    position: relative;
    height:50px;
    width:100%;
    margin:0 5px;
    list-style:none;
    border-radius: 12px;
}



.sidebar ul li .bx-search
{
    position:absolute;
    z-index:99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}

.sidebar ul li .bx-search:hover
{
    background:#fff;
    color:#1d1b31;
}

.sidebar ul li a 
{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover
{
    color: #11101d;
    background: #fff;
}

.sidebar ul li i 
{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name 
{
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .links_name
{
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li input
{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}


.sidebar .profile-content
{
    position: absolute;
    color: #fff;
    bottom: 0;
    left:0;
    width: 100%;
}

.sidebar .profile-content .profile 
{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1d1b31;
    transition: all 0.5s ease-in-out;
    background: none;
}

.sidebar.active .profile-content .profile 
{
    background: #1d1b31;
}

.profile-content .profile  .profile-details
{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: auto;
    white-space: nowrap;
}

.sidebar.active .profile-content .profile  .profile-details
{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile-details img 
{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile-details .name-job 
{
    margin-left: 10px;
}

.profile .profile-details .name
{
    font-size:15px;
    font-weight:400;
}

.profile .profile-details  .job 
{
    font-size: 12px;
}

.profile #log-out 
{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height:50px;
    font-size:20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    background: #1d1b31;
}

.sidebar.active .profile #log-out
{
    left: 88%;
    background: none;
}

.home-content
{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease-in-out;
}

.home-content .text 
{
    font-size: 25px;
    font-weight:500;
    color:#1d1b31;
    margin:12px;
}

.sidebar.active ~ .home-content
{
    width: calc(100% - 300px);
    left: 300px;
}

/* Tooltip css */

.sidebar ul li .tooltip 
{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #11101d;
    color: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip
{
    display: none;
}

.sidebar ul li:hover .tooltip
{
    transition: all 0.5s ease-in-out;
    opacity: 1;
    top: 50%;
}
.header-arch{
    display: flex;
    justify-content: space-between;
    background-color: #11101d;
    width: 100%;
    height: 10vh;
}
.new-folder{
    width: 50%;
    margin-top: 15px;
}
#folder{
    width: 20vw;
    height: 35px;
    padding-left: 10px;
    font-size: 1.2rem;
}
#btn-folder{
    background-color: green;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    width: 10vw;
    height: 40px;
    border-radius: 20px;
}
.upload-form{
    width: 50%;
    margin-top: 15px;
    margin-left: 200px;
}
#upload{
    width: 20vw;
    color: white;
    
}
#btn-upload{
    background-color: green;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    width: 10vw;
    height: 30px;
    border-radius: 20px;
}
.uploading{
    text-align: center;
}
.folder-form{
    text-align: center;
}

#Tableau-folder{
    width: 100%;
    background-color: rgba(220, 220, 220, 0.219);
}
.folder-tab{
    display: flex;
    justify-content: space-between;
    border-bottom: #1d1b31 1px solid;
    height: 80px;
}
.node-link{
    text-decoration: none;
}
.nav-link-btn{
    margin-top: -60px;
    margin-left: 80px;
    font-weight: normal;
    font-style: italic;
    font-size: 1rem;
}
.des-link{
    margin-left: 80px;
    font-weight: normal;
    margin-top: -10px;
}
